ws/SolicitadorTramite/src/main/resources/wsdl/SolicitadorTramite.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ClickExpertsService"
				  targetNamespace="ar.com.samsistemas.services.tramites"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:tns="ar.com.samsistemas.services.tramites"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="ar.com.samsistemas.services.tramites"
			xmlns="ar.com.samsistemas.services.tramites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="tramite">
				<xs:sequence>
					<xs:element minOccurs="0" name="socio" type="xs:string" />
					<xs:element minOccurs="0" name="tipo" type="xs:string" />
					<xs:element minOccurs="0" name="descripcion" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tramiteResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo" type="xs:string" />
					<xs:element minOccurs="0" name="descripcion" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="tramite" type="tramite" />
			<xs:element name="tramiteResponse" type="tramiteResponse" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="tramiteResponse">
		<wsdl:part element="tns:tramiteResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="tramite">
		<wsdl:part element="tns:tramite" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SolicitarTramiteService">
		<wsdl:operation name="solicitarTramite">
			<wsdl:input message="tns:tramite" name="tramite">
			</wsdl:input>
			<wsdl:output message="tns:tramiteResponse" name="tramiteResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SolicitarTramiteServiceSoapBinding" type="tns:SolicitarTramiteService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="solicitarTramite">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="tramite">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="tramiteResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SolicitarTramiteService">
		<wsdl:port binding="tns:SolicitarTramiteServiceSoapBinding"
			name="SolicitarTramiteServiceImplPort">
			<soap:address
				location="http://localhost:8080/tramite" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>